/* Variables */
:root{
  --gradient: linear-gradient(90deg, rgba(12,4,149,1) 0%, rgba(8,8,122,1) 32%, rgba(255,12,0,1) 100%);
}
/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    background: #0c0495;
    background: var(--gradient);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  form{
      margin: 30% auto;
  }
  h2{
    text-align: center;
    font-family: "Nunito", sans-serif;
    color: #0d1f70;
  }
  
  .help-block {
    color: red;
    font-size: 13px;
  }
  
  label.uk-form-label {
    color: blue;
  }
  
  button.uk-button-primary {
    color: #fff;
    font-weight: bold;
    background-color: #1e87f0;
    margin: 0px 10px;
    
  }
  button.uk-button-default {
    color: #fff;
    font-weight: bold;
    background-color: #c71717;
    margin: 0px 5px;
    
  }
  
  #card-number,
  #card-cvc,
  #card-expiry {
    padding-top: 10px;
  } 
  
  .stripeError {
    color: red;
    font-style: italic;
  }
  @media only screen and (max-width: 600px)  {
   .uk-width-large {
    width: 90%;
    }
  }